<h1>Issues</h1>
<div id="issue-featured-label">Featured Issue:</div>
<a href="/issues/<%= @featured_issue.id %>">
<div id="issue-featured">
		<div class="issue-info-featured">
			<h2><%= @featured_issue.title %></h2>
			<div id="issue-featured-description">
				<p><%= markdown(truncate(@featured_issue.description, length: 300)) %></p>
			</div>
				<p>
					<div class="bold"> posted by:</div> <%= @featured_issue.user_name %>
					<div class="date"><%= @featured_issue.created_at.time.to_formatted_s(:long) %></div>
				</p>
		</div>
</div>
</a>


<div id="issue-options">
<div id="issue-options-left">
	<div id="issue-a-z" class="<%= current_filter?('a-z') %>">
	<%= link_to 'A-Z', issues_path(:sort_info => { :sort_direction => "a-z" }) %></div> | 
	<div id="issue-z-a" class="<%= current_filter?('z-a') %>"><%= link_to 'Z-A', issues_path(:sort_info => { :sort_direction => "z-a" }) %></div>
</div>

<div id="issue-options-right">
	<div id="issue-newest" class="<%= current_filter?('newest') %>"><%= link_to 'newest', issues_path(:sort_info => { :sort_direction => "newest" }) %></div> | 
	<div id="issue-oldest" class="<%= current_filter?('oldest') %>"><%= link_to 'oldest', issues_path(:sort_info => { :sort_direction => "oldest" }) %></div>
</div>
</div>

<div id="issue-list">	 
	<%= render partial: 'issue_list', locals: { issues: @issues} %>
</div>