<h1><%= @issue.title %></h1>
<div class="issue-nav">
		<ul>	
			<% @issue.categories.each do |category| %>
				<%= link_to(category_path(category)) do %>
					<li><%= category.title %></li>
				<% end %>
			<% end %>
		</ul>
	</div>
	<div class="issue-description">
		<p><%= markdown @issue.description %></p>
		<% if @issue.user == current_user %>
			<p><%= link_to("edit", edit_issue_path(@issue))	 %></p>
		<% end %>
	</div>

<div class="issue-resource-list">
	<h2>Answers</h2>
	<%= link_to 'New Answer', new_resource_path, remote: true %>
	<div id="task-form" style="display:none;"></div>
	<% @issue.resources.each do |resource| %>
		<%= link_to(resource_path(resource)) do %>
			<div class="issue-resource">
				<h3><%= resource.title %></h3>
				<p><%=  markdown resource.description %></p>
			</div>
		<% end %>
	<% end %>
</div>
