
<h1> Browse Resources </h1>
<div class="pure-g">
    
	 
	<% @resources.each_with_index do |resource, index| %>
		<div class="pure-u-1-3">
		<a href="/resources/<%= resource.id %>">
			<div class="thumb">
				<h2><%= resource.title %></h2>
				<p><%= resource.description %></p>
				<p><%= resource.link %></p>
				<p> posted by: <%= resource.user || "Anonymous" %></p>
			</div>
		</a>
		</div>
	<% end %>
</div>
