<div class="center-form">
	<%= form_for @resource, html: {class: "pure-form-stacked"} do |f| %>
	  <%= f.label :title %>
	  <%= f.text_field :title, size: "60" %><br />

	  <%= f.label :description %>
	  <%= f.text_area :description, size: "60x7" %><br />

		<%= f.label :link %>
	  <%= f.url_field :link, size: "60" %><br />

	  <%= f.submit "Create Resource", :class => 'pure-button pure-button-primary' %>
	<% end %>
</div>