<h1>Create A New Resource</h1>
<div class="center-form">
	<%= form_for @resource, html: {class: "pure-form-stacked"} do |f| %>
	  <%= f.label :title %>
	  <%= f.text_field :title %>

	  <%= f.label :description %>
	  <%= f.text_area :description %>

		<%= f.label :link %>
	  <%= f.url_field :link %>
	
	  <div class="check-multiple">
			<%= f.label "categories(s)" %>
		  <div class="check-multiple-options">
			  <%= f.collection_check_boxes :category_ids,
		                             Category.all,
		                             :id,
		                             :title %>
	    </div>
    </div>

	  <div class="check-multiple">
			<%= f.label "issue(s)" %>
			<div class="check-multiple-options">
	  		<%= f.collection_check_boxes :issue_ids,
                             Issue.all,
                             :id,
                             :title %>
       </div>
    </div>
    

	  <%= f.submit "Create Resource", :class => 'pure-button pure-button-primary' %>
	<% end %>
</div>