<h1><%= @resource.title %></h1>
<div class="resource-body">
	<div class="resource-nav">
		<ul>	
			<% @resource.categories.each do |category| %>
				<%= link_to(category_path(category)) do %>
					<li><%= category.title %></li>
				<% end %>
			<% end %>
			<% @resource.issues.each do |issue| %>
				<%= link_to(issue_path(issue)) do %>
					<li><%= issue.title %></li>
				<% end %>
			<% end %>
		</ul>
	</div>
	<div class="bold">Description:</div>
	<p><%= @resource.description %></p>
	<div class="bold">Link:</div>
	<p><%= @resource.link %></p>
	<br/>
	<p>user: <%= @resource.user || "Anonymous" %> | 	created on: <%= @resource.created_at %></p>
</div>

