<h1><%= @resource.title %></h1>
<div class="resource-body">
	<div class="resource-nav">
		<ul>	
			<% @resource.categories.each do |category| %>
				<%= link_to(category_path(category)) do %>
					<li><%= category.title %></li>
				<% end %>
			<% end %>
			<% @resource.issues.each do |issue| %>
				<%= link_to(issue_path(issue)) do %>
					<li><%= issue.title %></li>
				<% end %>
			<% end %>
		</ul>
	</div>
	<div class="bold">Description:</div>
	<p><%= markdown @resource.description %></p>
	<div class="bold">Link:</div>
	<p><%= link_to(@resource.link, @resource.link) %></p>
	<br/>
	<p><div class="bold">user:</div> <%= @resource.user_name %> | <div class="bold">created on:</div> <%= @resource.created_at.to_formatted_s(:long) %></p>
	<% if @resource.user == current_user %>
		<p><%= link_to("edit", edit_resource_path(@resource))	 %></p>
	<% end %>
</div>

