<h1><%= @category.title %></h1>
<div class="category-description">
	<p><%= markdown @category.description %></p>
	<% if @category.user == current_user %>
		<p><%= link_to("edit", edit_category_path(@category))	 %></p>
	<% end %>
</div>

<div id="category-list">
<div class="category-issue-list">
	<h2>Issues</h2>
	<% @category.issues.each do |issue| %>
		<%= link_to(issue_path(issue)) do %>
			<div class="category-issue">
				<h3><%= issue.title %></h3>
				<p>
					<div class="bold"> posted by:</div> <%= issue.user_name %><br/>
					<div class="date"><%= issue.created_at.time.to_formatted_s(:long) %></div>
				</p>
			</div>
		<% end %>
	<% end %>
</div>

<div class="category-resource-list">
	<h2>Resources</h2>
	<% @category.resources.each do |resource| %>
		<%= link_to(resource_path(resource)) do %>
			<div class="category-resource">
				<h3><%= resource.title %></h3>
				<p>
					<div class="bold"> posted by:</div> <%= resource.user_name %><br/>
					<div class="date"><%= resource.created_at.time.to_formatted_s(:long) %></div>
				</p>
			</div>
		<% end %>
	<% end %>
</div>
</div>
