<h1><%= @category.title %></h1>
<div class="category-description">
	<p><%= @category.description %></p>
</div>
<div class="category-issue-list">
	<h2>Issues</h2>
	<% @category.issues.each do |issue| %>
		<%= link_to(issue_path(issue)) do %>
			<div class="category-issue">
				<h3><%= issue.title %></h3>
				<p><%= issue.description %></p>
			</div>
		<% end %>
	<% end %>
</div>

<div class="category-issue-list">
	<h2>Resources</h2>
	<% @category.resources.each do |resource| %>
		<%= link_to(resource_path(resource)) do %>
			<div class="category-resource">
				<h3><%= resource.title %></h3>
				<p><%= resource.description %></p>
			</div>
		<% end %>
	<% end %>
</div>