<!DOCTYPE html>
<html>
<head>
  <title>Hackvault</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag 'application', 'http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css' %>
  <%= stylesheet_link_tag 'application', 'http://yui.yahooapis.com/pure/0.5.0/pure-min.css' %>
  <%= stylesheet_link_tag 'application', 'http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css' %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700' %>

  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="pure-menu pure-menu-open pure-menu-horizontal nav-main">
    <%= link_to("Hack Vault", root_path, {class: 'pure-menu-heading'}) %>
    <ul>
        <li><%= link_to("Categories", root_path) %></li>
        <li><%= link_to("Issues", issues_path) %></li>
        <li><%= link_to("Resources", resources_path) %></li>
        <% if user_signed_in? %>
					<li><%= link_to(current_user.email, edit_user_registration_path) %></li>
        	<li><%= link_to("Logout", destroy_user_session_path, method: "delete") %></li>
				<% else %>
        	<li><%= link_to("Login", new_user_session_path) %></li>
        <% end %>
        <% if current_uri =~ /resource/ || current_uri =~ /issue/ %>
        	<li><%= link_to("New", new_current_resource, {class: 'bold new'}) %></li>
        <% end %>
    </ul>
</div>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
